.align_left {
	flex-direction: column;
	justify-content: left;
}

.header {
	background: rgb(61,255,242);
	background: linear-gradient(124deg, rgba(61,255,242,1) 0%, rgba(72,236,82,1) 24%, rgba(185,189,83,1) 44%, rgba(199,134,83,1) 67%, rgba(219,83,83,1) 89%);
	color: white;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 35px;
}
.description{
	font-size: 12px;
	white-space: nowrap;
}

.bottom_panel {
	justify-content: flex-end;
}

.container {
	margin-top: 20px;
}

@media (min-width:700px){
	.container {
	width: 90%;
	}
}

@media (min-width:1281px){
	.container {
	width: 50%;
	}
}

.cube {
	justify-content: center;
	text-align: center;
}

.flex {
	display: flex;
}

.left_panel {
	height: 500px;
	justify-content: center;
	flex-direction: column
}

.misc_btns {
	border-color: grey;
	width: inherit;
}

.moves_btn {
	margin: 5px;
	height: auto;
	width: 50px;
}

.moves-button {
	justify-content: center;
}

.right_panel {
	height: 500px;
	justify-content: center;
	flex-direction: column
}

.top_left_panel {
	justify-content: flex-end;
}

.top_right_panel {
	justify-content: flex-start;
}

